@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;

  --col-text-light: #ffffff;
  --col-text-dark: #000000;
  --col-button-danger: rgb(235, 65, 65);

  --col-primary-light: #60ad5e;
  --col-primary-medium: #2e7d32;
  --col-primary-dark: #005005;

  --col-secondary-light: #a98274;
  --col-secondary-medium: #795548;
  --col-secondary-dark: #4b2c20;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* LAYOUT */ 
.Container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

.Button {
    font-family: inherit;
    font-size: 1em;
    padding: .5rem 1rem;
    font-weight: 700;
    border: 1px solid var(--col-text-light);
    border-radius: .25em;
}

.ButtonPrimary {
  background-color: var(--col-primary-medium);
  color: var(--col-text-light);
}

.ButtonDanger {
  background-color: var(--col-button-danger);
  color: var(--col-text-light);
}



.Input {
  font-family: inherit;
  display: block;
  width: 75%;
  padding: .65em;
  border-radius: .25em;
  border: 2px solid #efefef;
  margin: 1em 0;
}


.InputLabel {
  display:  block;
}

.Picture {
  width: 40px;
}